@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
  font-family: Inter, Helvetica, Geneva, Tahoma, sans-serif;
}

.display-flex {
  display: flex;
}

.intro {
  background-image: url('images/background.png');
  flex-direction: column;
  text-align: center;
  background-size: cover;
  background-size: 100% 100%;
  padding: 58px;
}

.top-header {
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 40px;
  align-items: center;
}

.welcome {
  text-decoration: none;
  color: #172b4d;
  font-size: 20px;
  font-weight: 600px;
}

.identical-to {
  font-size: 40px;
  width: 2px;
}

.first-name {
  font-weight: 700px;
  font-size: 40px;
}

.software-dev {
  color: #36b37e;
}

.social {
  justify-content: space-between;
  margin-bottom: 32px;
  list-style-type: none;
  color: #505f79;
}

.social-img:hover {
  border: 2px solid rgb(13, 13, 163);
  border-radius: 50%;
}

.paragraph {
  margin-bottom: 64px;
  font-size: 20px;
  color: #172b4d;
}

.arrow-flex {
  font-size: 16px;
  justify-content: center;
}

.arrow:hover {
  border: 2px solid #acb7c3;
  border-radius: 50%;
  color: blue;
}

ul {
  list-style-type: none;
}

/* Recent Work Session */

.container-recent {
  display: grid;
}

.container-recent > .grid-project {
  background-color: #d0d9d4;
  border-radius: 8px;
  margin: 24px; 
}

.grid-project {
  flex-direction: column;
  text-align: center;
  padding-left: 1.5px;
  padding-right: 1.5px;
  padding-bottom: 1.5px;
  padding-top: 252px;
}

.multi-post {
  background-color: white;
  border-radius: 8px;
  line-height: 8px;
  padding-top: 12px;
}

.multi-text-color {
  font-weight: 600px;
  font-size: 24px;
  color: #3a4a42;
}

.see-project {
  background-color: #36b37f;
  padding: 8px;
  border-color: #36b37f;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-bottom: 16px;
}

.see-project:hover {
  background-color: #36b37f;
  cursor: pointer;
  transform: scale(0.9);
  border-radius: 16px;
  box-shadow: 0 8px rgba(54, 179, 127, 0.24);
}

.see-project:active {
  background-color: #008552;
  transform: scale(0.9);
}

.language {
  flex-wrap: wrap;
  column-gap: 10px;
  margin-top: 8px;
  justify-content: center;
  padding: 0;
}

.grid-frame-skill {
    grid-area: auto; 
}

.language-background {
  background-color: #ebf0ee;
  border-radius: 4px;
  font-weight: 400px;
  color: #3a4a42;
  padding: 8px;
  letter-spacing: 3%;
  vertical-align: top;
}

.recent-work {
  margin-left: 26px;
  margin-right: 22px;
  justify-content: center;  
  font-weight: bold;
  font-size: 40px;  
}

.dash-flex { 
 color: #36b37e;
justify-content: center;
}

.dash {
  font-size: 40px;  
}

.dash:hover {
  color: #1e488f;
}

.about-container {
  text-align: center;
}

.about-me {
  color: #172b4d;
  font-weight: 400px;
  font-size: 28px;
  display: inline-block;
}

.skill-flex {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 16px;
}

.about-message {
  font-size: 20px;
  color: #42526e;
}

.add-bottom-margin {
  margin-bottom: 52px;
  letter-spacing: 3%;
  font-size: 17px;
}

.grid-frame-skill > .grid-child-frame-skill {
  background-color: #c1c7d0;
  border-radius: 8px;
  text-align: center; 
}

.frame-skill-background {
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  color: #36b37e;
}

.skills-pack {
  border-radius: 50%;
  background-color: white;
  padding: 16px;
}

.top-padding {
  padding-top: 58px;
}

.skills-pack-font {
  text-align: center;
  color: #344563;
  font-size: 24px;
  font-weight: 600px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
